<article class="post">

    <header>
        <h2 class="post-title"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
        <div class="post-meta">发表于{{ .Date.Format "2006-01-02 15:04:05" }} </div>
    </header>

    <section>
        <div class="post-summary">{{ .Content }}</div>
    </section>

    <footer>
        <div class="post-meta">
            分类：
            <ul class="list-inline">
                {{ range .Params.categories }} <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li> {{ end }}
            </ul>
        </div>

        <div class="post-meta">
            标签：
            <ul class="list-inline">
                {{ range .Params.tags }} <li><a href="/tags/{{ . | urlize }}"><span class="label label-default">{{ . }}</span></a></li> {{ end }}
            </ul>
        </div>

        <br/>
        <nav class="post-meta">
            <p class="col-md-6">
                {{ if .Prev }} <a class="previous" href="{{.Prev.Permalink}}"> &lt; {{.Prev.Title}} </a> {{ end }}
            </p>

            <p class="col-md-6">
                {{ if .Next }} <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}} &gt;</a> {{ end }}
            </p>
        </nav>
        <br/>

    </footer>

</article>
