html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Microsoft Yahei', sans-serif;
}

body {
    background: #f1f1f1;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    font-family: Georgia, "Bitstream Charter", serif;
    display: block;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

input[type="submit"] {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}




header {
    padding-top: 30px;
}

.site-wrapper {
    width: 940px;
    background: #fff;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
}

#site-title {
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px 0;
    width: 700px;
    color: black;
    font-weight: bold;
}

#site-description {
    clear: right;
    float: right;
    font-style: italic;
    margin: 15px 0 18px 0;
    width: 220px;
}

.post {
    color: #333;
    font-size: 16px;
    line-height: 24px;
}

.post .post-title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
}

.post .post-meta {
    color: #777;
    font-size: 12px;
}

.post .post-summary {
    clear: both;
    padding: 12px 0 0 0;
}

.post section {
    margin-bottom: 18px;
}

.post footer {
    margin-bottom: 24px;
}



.site-footer {
    margin-bottom: 20px;
    clear: both;
    width: 100%;
}

.site-footer #colophon {
    border-top: 4px solid #000;
    margin-top: -4px;
    overflow: hidden;
    padding: 18px 0;
}

.site-footer .copyright {
    float: left;
    font-size: 14px;
    width: 600px;
}

.site-footer .poweredby {
    float: right;
    width: 320px;
    text-align: right;
    font-style: italic;
    font-size: 10px;
}
