<aside id="sidebar">

    <div class="sidebar-block">
        <h5>Senaste uppdateringar:</h5>
        <ul class="list-unstyled">
        {{ range first 5 .Site.Pages }}
            <li><a href='{{ .Permalink }}'> {{ .Title }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="sidebar-block">
        <h5>Kategorier:</h5>
        <ul class="list-unstyled">
        {{ range $key, $value := .Site.Taxonomies.categories }}
            <li><a href="/categories/{{ $key | urlize }}">{{ $key }}</a> &nbsp;({{ len $value }})</li>
        {{ end }}
        </ul>
    </div>

    <div class="sidebar-block">
        <h5>Taggar:</h5>
        <div id="tag_cloud" data-tags="{{ range $key, $value := .Site.Taxonomies.tags }} ['{{$key}}', {{len $value}}, '/tags/{{ $key | urlize }}']; {{ end }}" />
    </div>

</aside>


